

.nivigation1 input[type="submit"]{
	
	margin-left: 400px;
	margin-top: 20px;
	font-size: 13px;
	font-weight: bold;
	margin: 10px;
	width: 80px;
	height: 30px;
	background: blue;
	color: white;
	font-weight: bold;
}